<nav class="post-nav">
  <div class="post-nav-item post-nav-prev">
    <a class="post-nav-item post-nav-prev" href="{% if page.previous %}{{ page.previous | relative_url }}{% endif %}">
      <div class="nav-arrow"> Previous </div>
      {% if page.previous %}
        <span class="post-title">{{ page.previous.title }}</span>
      {% endif %}
    </a>
  </div>

  <div class="post-nav-item post-nav-next">
    <div class="nav-arrow">Next</div>
    {% if page.next %}
    <a class="post-nav-item post-nav-next"  href="{{ page.next | relative_url }}">
      <span class="post-title">{{ page.next.title }}</span>
    </a>
    {% endif %}
  </div> 
</nav>
